body {
  font-family: sans-serif;
  font-weight: 100;
}

#login-btn {
  margin-top: 30%;
}

.list {
  width: 75%;
  margin: auto;
  margin-top: 75px;
}

.navbar {
  border-radius: 0px;
}

.table {
  font-weight: 100;
}
