doctype html
html(lang="en")
  head
    title=pageTitle
    style
      include ../src/resources/bootstrap/css/bootstrap.css
      include ../src/resources/style.css
  body
    #root
    script(src=bundleSrc)
