doctype html
html(lang="en")
  head
    title=pageTitle
    style
      include ../resources/bootstrap/css/bootstrap.css
      include ../resources/toastr/css/toastr.css
      include ../resources/style.css
  body
    #root
    div.
      !{html}
    script(src=bundleSrc)
