doctype html
html(lang="en")
  head
    title=pageTitle
    style
      include ../resources/bootstrap/css/bootstrap.css
      include ../resources/toastr/css/toastr.css
      include ../resources/vex/dist/css/vex.css
      include ../resources/vex/dist/css/vex-theme-default.css
      include ../node_modules/dialog-polyfill/dialog-polyfill.css
      include ../resources/vex/dist/css/vex-theme-flat-attack.css
      include ../resources/css/flashcard.css
      include ../resources/css/popup-overlay.css
      include ../resources/css/style.css
  body
    #root
    div.
      !{html}
    script(src=bundleSrc)
