.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

body {
  font-family: sans-serif;
  font-weight: 100;
}

tbody textarea {
  resize: none;
}

#all-lists-header {
  margin-bottom: 40px;
}

#home-login {
  margin-top: 50px;
}

#admin-options, #list-types {
  margin-top: 40px;
}

#admin-options li, #list-types li {
  list-style-type: none;
  font-size: 25px;
  margin-bottom: 10px;
}

#file-upload {
  margin-top: 50px;
  width: 75%;
}

#file-upload-container {
  margin-top: 125px;
}

#login-btn {
  margin-top: 30%;
}

#nav-title:hover,
#nav-title:visited {
  color: #777;
}

#new-user-form, #edit-user-form {
  margin: 50px auto;
  width: 75%;
}

#users, #edit-lists {
  width: 75%;
  margin: 75px auto;
}

#users-add-new-butn {
  display: inline;
  padding-right: 8px;
}

.admin, .allLists, .edit, .error, .home, .login, .newUser {
  width: 40%;
  margin: 125px auto 75px auto;
}

.align-center {
  text-align: center;
}

.animation-enter {
  opacity: 0.01;
}

.animation-enter.animation-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.animation-leave {
  opacity: 1;
}

.animation-leave.animation-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

.butn-cell-no-style {
  background-color: #fff;
  border: #fff;
}

.butn-edit-group {
  padding: 0;
}

.butn-edit-options {
  width: 50%;
}

.butn-done {
  background-color: #dfece3;
  border: #fff;
  color: #000;
  outline: none;
}

.butn-undo {
  background-color: #cea9a9;
  border: #fff;
  color: #000;
  outline: none;
}

.display-none {
  display: none;
}

.edit-lists-options {
  padding: 15px 0;
}

.edit-pencil {
  color: #000;
}

.edit-user-cell-width {
  width: 5%;
}

.inline {
  display: inline;
}

.list {
  width: 75%;
  margin: 75px auto;
}

.list-link {
  width: 100%;
  text-align: left;
  margin: 15px 0;
}

.listTable, .users-table {
  margin: 40px 0 80px 0;
}

.margin-top-30 {
  margin-top: 30px;
}

.navbar {
  border-radius: 0px;
}

.navbar-brand {
  font-size: 28px;
}

.row-normal {

}

.row-done {
  background-color: #b9b9b9 !important;
}

.table {
  font-weight: 100;
}
