body {
  font-family: sans-serif;
  font-weight: 100;
}

#all-lists-header {
  margin-bottom: 40px;
}

#home-login {
  margin-top: 50px;
}

#list-types li {
  list-style-type: none;
  font-size: 25px;
  margin-bottom: 10px;
}

#login-btn {
  margin-top: 30%;
}

#nav-title:hover,
#nav-title:visited {
  color: #777;
}

#new-user-form, #edit-user-form {
  margin: 50px auto 0 auto;
  width: 75%;
}

#users-home {
  width: 75%;
  margin: 75px auto;
}

.align-center {
  text-align: center;
}

.butn-cell-no-style {
  background-color: #fff;
  border: #fff;
}

.butn-delete {
  margin-left: 25%;
}

.butn-edit-width {
  width: 5%;
}

.butn-done {
  background-color: #dfece3;
  border: #fff;
  color: #000;
  outline: none;
}

.butn-undo {
  background-color: #cea9a9;
  border: #fff;
  color: #000;
  outline: none;
}

.allLists, .home, .newUser, .edit {
  width: 40%;
  margin: 125px auto 75px auto;
}

.list {
  width: 75%;
  margin: 75px auto;
}

.listLink {
  width: 100%;
  text-align: left;
  margin: 15px 0;
}

.listTable, .users-table {
  margin: 40px 0 80px 0;
}

.margin-top-30 {
  margin-top: 30px;
}

.navbar {
  border-radius: 0px;
}

.navbar-brand {
  font-size: 28px;
}

.row-normal {

}

.row-done {
  background-color: #b9b9b9 !important;
}

.table {
  font-weight: 100;
}
