body {
  font-family: sans-serif;
  font-weight: 100;
}

#all-lists-header {
  margin-bottom: 40px;
}

#home-login {
  margin-top: 50px;
}

#admin-options, #list-types {
  margin-top: 40px;
}

#admin-options li, #list-types li {
  list-style-type: none;
  font-size: 25px;
  margin-bottom: 10px;
}

#login-btn {
  margin-top: 30%;
}

#nav-title:hover,
#nav-title:visited {
  color: #777;
}

#new-user-form, #edit-user-form {
  margin: 50px auto 0 auto;
  width: 75%;
}

#users {
  width: 75%;
  margin: 75px auto;
}

#users-add-new {
  display: inline;
  padding-right: 8px;
}

.admin, .allLists, .edit, .home, .newUser {
  width: 40%;
  margin: 125px auto 75px auto;
}

.align-center {
  text-align: center;
}

.animation-enter {
  opacity: 0.01;
}

.animation-enter.animation-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.animation-leave {
  opacity: 1;
}

.animation-leave.animation-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

.butn-cell-no-style {
  background-color: #fff;
  border: #fff;
}

.butn-delete {
  margin-left: 25%;
}

.butn-edit-width {
  width: 5%;
}

.butn-done {
  background-color: #dfece3;
  border: #fff;
  color: #000;
  outline: none;
}

.butn-undo {
  background-color: #cea9a9;
  border: #fff;
  color: #000;
  outline: none;
}

.display-none {
  display: none;
}

.edit-pencil {
  color: #000;
}

.inline {
  display: inline;
}

.list {
  width: 75%;
  margin: 75px auto;
}

.listLink {
  width: 100%;
  text-align: left;
  margin: 15px 0;
}

.listTable, .users-table {
  margin: 40px 0 80px 0;
}

.margin-top-30 {
  margin-top: 30px;
}

.navbar {
  border-radius: 0px;
}

.navbar-brand {
  font-size: 28px;
}

.row-normal {

}

.row-done {
  background-color: #b9b9b9 !important;
}

.table {
  font-weight: 100;
}

/* enables CSS3 transition for simple collapses, accordion and also navbar in responsive view */
.collapse { transition: height .3s ease-out; /*-webkit-transition: height .3s ease-out*/ }

/* styles the close button for the dismissible popovers */
.popover .close { position: absolute; top: 7px; right: 10px; }
