.flashcards {
  width: 40%;
  margin: 125px auto 75px auto;
}

.flashcards .buttons {
  margin: 50px auto;
}

.flashcards .buttons button {
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
}

.flashcard-container {
  height: 200px;
  width: 100%;
  margin-top: 200px;
  perspective: 800px;
  position: relative;
}

.flashcard-count {
  margin: 50px auto;
}

.flashcard {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: opacity .75s ease, transform .75s;
}

.flashcard div {
  backface-visibility: hidden;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
}

.flashcard .front {
  background-color: rgba(0, 166, 216, 1);
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

.flashcard .back {
  background-color: rgba(0, 166, 216, 1);
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
  transform: rotateY(180deg);
}

#test {
  opacity: 1;
  transform-origin: right center;
}

#middle.fake-right {
  transform: translateX(25%) rotateY(-20deg);
}

#middle.fake-left {
  transform: translate(-25%) rotateY(20deg);
}

#middle.flipped.fake-right {
  transform-origin: right center;
  transform: translateX(-75%) rotateY(-200deg);
}

#middle.flipped.fake-left {
  transform-origin: right center;
  transform: translateX(-125%) rotateY(-160deg);
}

#left {
  opacity: 0;
  transform: translateX(-100%) rotateY(60deg);
}

#middle {
  opacity: 1;
  transform-origin: right center;
}

#right {
  opacity: 0;
  transform: translateX(100%) rotateY(-60deg);
}

#middle.slide-left {
  opacity: 0;
  transform-origin: center center;
  transform: translateX(-100%) rotateY(60deg);
}

#middle.slide-right {
  opacity: 0;
  transform-origin: center center;
  transform: translateX(100%) rotateY(-60deg);
}

#middle.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

#middle.flipped.slide-left {
  transform-origin: right center;
  transform: translateX(-200%) rotateY(-120deg);
}

#middle.flipped.slide-right {
  transform-origin: right center;
  transform: translateX(10%) rotateY(-240deg);
}

#left.slide-origin, #right.slide-origin {
  opacity: 1;
  transform: translateX(0%) rotateY(0deg);
}
